body {
  width: 80%;
  padding-left: 20%;
}
#table-of-contents {
  width: 16%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  overflow: auto;
}
#text-table-of-contents > ul {
  padding-left: 0;
}
#text-table-of-contents > ul > li {
  list-style: none;
}
code {
  background: #eee;
  border-radius: 3px;
  border: 1px solid silver;
  padding-left: 1px;
  padding-right: 1px;
}
pre.code {
  background: #202020;
  color: #e0e0e0;
  overflow-x: auto;
  overflow-y: visible;
}
pre.code code {
  background: inherit;
  border: none;
  border-radius: 0;
  font-size: 0.8rem;
}
div.outline-text-2 > p,
div.outline-text-3 > p,
div.outline-text-2 > ul,
div.outline-text-3 > ul,
div.outline-text-2 > div.text,
div.outline-text-3 > div.text {
  width: 55%;
}
.marginnote, .sidenote {
  margin-top: 0.3rem;
}
.sidenote::before {
  font-size: 1rem;
}
div.text > div.marginnote:first-child {
  margin-top: 0.6rem;
}
div.marginnote p {
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
  font-size: 1.1rem;
  line-height: 1.3;
}
div.marginnote > p:first-child {
  margin-top: 0;
}
.figure > p {
  margin: 0;
}
div.marginnote code {
  font-size: 1rem;
}
div.marginnote pre.code code {
  font-size: 0.8rem;
}
div.marginnote div.epigraph {
  margin: 1.1rem 0;
}
div.marginnote div.epigraph > blockquote {
  margin-top: 1.1rem;
  margin-bottom: 1.1em;
}
div.marginnote div.epigraph > blockquote p {
  margin-top: 1.1rem;
}
div.marginnote blockquote {
  margin-left: 1em;
  margin-right: 0;
}
div.marginnote blockquote p {
  margin-right: 0;
  width: auto;
}
div.marginnote pre.code {
  width: auto;
}
